@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #e5d9e7;
    --branco: #FFFFFF;
    --magenta: #940394;
    --roxo-degrade: linear-gradient(97.54deg, #bd86c0 35.49%, #542461 165.37%);
    --fonte-principal: "Noto Serif";
    --roxo: #3e034d;
    --cinza: #434044;
    --cinza-claro: #777179;
    --preto: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}